*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

*{
    cursor: url("pic/angelwings.png"), auto;
}


:root{
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #ff6c8e;
    --secondary-color: #ffd971;
    --light-pink-color: #faf4f5;
    --medium-gray-color: #ccc;

    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5 rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    --site-max-width: 1300px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

@font-face{
    font-family:"cheri";
    src:url("fonts/cheri.ttf");
}

@font-face{
    font-family:"babydoll";
    src:url("fonts/babydoll.ttf");
}

@font-face{ 
    font-family:"soopafresh";
    src: url(fonts/soopafre.ttf)
}

button{
    border: none;
    background: none;
}

img{
    width:100%;
}

header{
    position: fixed;
    width:100%;
    z-index: 5;
    background: var(--primary-color);
    margin: 0;
    padding: 0px 65px;
    max-width: none;
}


.navbar{
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}

.navbar, .logo-text{
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}



.navbar, .nav-menu{
    display: flex;
    gap: 10px;
}


.nav-link{
    padding:10px 18px;
    color: var(--white-color);
    font-size: var(--font-size-m);
    font-family: "babydoll";
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}

.nav-link:hover{
    color: var(--primary-color);
    background: var(--white-color);
    box-shadow: 0px 0px 10px rgba(255, 255, 125, 0.7);
}

.hero-section {
    min-height: 100vh;
    background: var(--white-color);
    margin-bottom: 5px;
}

.section-content{
    align-items: flex-start;
}

.hero-section .section-content {
    display: flex;
    align-items: center;
    min-height: 50vh;
    color: var(--primary-color);
    justify-content: space-between;
    margin-left: 30px;
}

.hero-section .hero-details .title {
    font-size: 45px;
    color: var(--secondary-color);
    font-family: "soopafresh";
    margin-top: 35px;
}

.hero-section .hero-details .subtitle {
    margin-top: 8px;
    max-width: 70%;
    font-size: 25px;
    font-weight: var(--font-weight-semibold);
    font-style: italic;
    font-family: "babydoll";
}

.hero-section .hero-details .description {
    max-width: 70%;
    margin: 20px 0 40px; 
    font-size: 15px;
    font-family: "babydoll";
}


.hero-image-wrapper{
    margin-right: 150px;
    margin-top: 200px;
    height: 400px;
    width: 400px;
}

.hero-image{
    border: 15px solid var(--primary-color);
}

.buttons{
    display: flex;
    gap: 23px;
}

.button{
    padding: 10px 26px;
    border: 5px solid transparent;
    color: var(--primary-color);
    border-radius: var(--border-radius-m);
    background: var(--secondary-color);
    font-family: "babydoll";
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.button:hover{
    transform: scale(1.1);
}

html {
    scrollbar-color: var(--white-color) var(--secondary-color);
    /* Track / Background Color */
    scrollbar-width: auto;
    /* Options: auto, thin */
}

.social-link-list {
    margin: 15px 15px;
    display: flex;
    gap: 25px;
}

.social-link-list .social-link {
    width: 55px;
    height: 55px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #ff6c8e;
    color: white;

    border-radius: 50%;

    text-decoration: none;

    transition: .3s;
}

.social-link-list .social-link:hover {
    transform: translateY(-5px);
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(255, 255, 125, 1); 
    background: var(--primary-color);
}

.copyright-text{
    font-family: "babydoll";
    color: var(--primary-color);
}
    
