*{
    margin: 0;
    padding: 0;
     cursor: url("pic/angelwings.png"), auto;
}

:root{
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #ff6c8e;
    --secondary-color: #ffd971;
    --light-pink-color: #faf4f5;
    --medium-gray-color: #ccc;

    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    --site-max-width: 1300px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

@font-face{
    font-family:"cheri";
    src:url("fonts/cheri.ttf");
}

@font-face{
    font-family:"babydoll";
    src:url("fonts/babydoll.ttf");
}

@font-face {
    font-family: "soopafresh";
    src: url(fonts/soopafre.ttf);
}

.nav-link button{
    border: none;
    background: none;
}

img{
    width:100%;
}

header{
    background: var(--primary-color);
    margin: 0 auto;
    padding: 0px 65px;
    max-width: var(--site-max-width);
}


.navbar{
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content:space-between;
}

.navbar, .navlogo, .logo-text{
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}



.navbar, .nav-menu{
    display: flex;
    gap: 10px;
}


.nav-link{
    padding:10px 18px;
    color: var(--white-color);
    font-size: var(--font-size-m);
    font-family: "babydoll";
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}

.nav-link:hover{
    color: var(--primary-color);
    background: var(--white-color);
    box-shadow: 0px 0px 10px rgba(255, 255, 125, 0.7);
}

body{
    background: linear-gradient(to right, #fff, #ffb6c7);
    font-size: 14px;
}

h1{
    font-family: "cheri";
    font-size: 50px;
    color: var(--secondary-color);
    text-shadow: 
        -2.5px -2.5px 0 #ff6c8e,
         2.5px -2.5px 0 #ff6c8e,
        -2.5px  2.5px 0 #ff6c8e,
         2.5px  2.5px 0 #ff6c8e;
}

h3{
    font-family: "babydoll";
    font-size: 25px;
    text-transform: uppercase;
}

.container{
    width: 80%;
    margin: 50px auto;
}

.contact-box{
    background: var(--white-color);
    display: flex;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: var(--primary-color);
    color: var(--white-color);
}

h1{
    margin-bottom: 10px;
}

.container p{
    margin-bottom: 25px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label{
    margin-bottom: 6px;
    display: block;
    color: var(--primary-color);
    font-size: 15px;
    font-family:"soopafresh";
}

button{
    background: var(--primary-color);
    width: 100px;
    border: none;
    color: var(--white-color);
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover{
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(255, 255, 125, 1); 
}

.contact-left h3{
    color: var(--primary-color);
    font-weight: 660;
    margin-bottom: 30px;
}

.contact-right h3{
    font-weight: 660;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 20px;
}

tr td{
    padding-top: 20px;
}

.text{
    font-family:"babydoll";
}

.title{
    font-family: "soopafresh";
}

